<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>   

    <form method="post" th:action="@{/forgotpassword/otpsend}" action="">
      <label for="">Input Adhar Id</label>
      <input name="adhaarid" type="type" value="" />
      <br />
      <button>send otp</button>
    </form>

    <script src="index.js"></script>
  </body>
</html>
